/*https://coolors.co/ee6352-292f36-18206f-f6f4f3-787776*/
body{
    background: #f6f4f3;
    font: 12pt;
}
.main-nav{
    background-color: #292f36;
    padding: 5px;
}
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #292f36;
  }
  
  .main-nav li {
    float: left;
  }
  .main-nav .post-bt{
    padding: 6px 8px;
    border: solid 2px #ee6352;
    border-radius: 20px;
    margin: 3px;
}
  .main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 .main-nav li a:hover {
    border-bottom: solid 3px #ee6352;
  }
  .main-nav .post-bt:hover{
    background-color: #ee6352;
  }

  
.gallery_container{
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px
}
.gal-nav{
    color: #787776;
    font-size: 14pt;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    background-color: inherit;
    /*box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   */

    padding: 10px;
    margin: 10px;
    
}

.gal-nav input, select, button{
    border-radius: 20px;
    border-color: #18206f;
    font-size: 12pt;
    background-color: #ee6352;
    border-width:3px;
    padding: 7px;
    color: white;
}
.gal-nav .button-holder{
    display: inline-block;
}
.img_box{

    background-image: url('/images/white-blurred-background.jpg');


    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


img {
    filter: none;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height:100%;
    width: auto;
    height: auto;
  }