/*https://coolors.co/ee6352-292f36-2f357d-f6f4f3-787776*/
html, body{
  margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
}

body{
    background: #f6f4f3;
    font: 12pt;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}
/*
///////////////////////////////////////////////
Main nav bar
//////////////////////////////////////////////s
*/
.main-nav {
  height: 10vh;
  width: 100%;
  background: #292f36;
}

.logo{
  height: 80%;
  float: left;
  align-items: center;
  padding: 6px;
}
.post-bt{
  height: 80%;
  float: left;
  align-items: center;
  padding: 3vh;
}

.post-bt a{

  background-color: #ee6352;
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 18px;
  transition: background-color 1s;
}
.post-bt a:active{
  background-color: #f6f4f3;
}
.nav-links {
  margin-top: 0px;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  padding: 7px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.5s ;
}


.nav-links li a:hover {
  color: white;
  text-decoration: none;
  background: #ee6352;
  font-size: 16px;
}

.nav-links li a:active{
  background-color: white;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background:#2f357d;
    margin: 5px;
  }
  .main-nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: #292f36;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1100px at 90% -10%);
    -webkit-clip-path: circle(1100px at 90% -10%);
    pointer-events: all;
  }
  
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li a:hover {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}
/*
///////////////////////////////////////////////
Gallery images 
//////////////////////////////////////////////
*/
.gallery_container{
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px
}

/*
///////////////////////////////////////////////
Gallery nav and search
//////////////////////////////////////////////
*/
.gal-nav{
    color: #787776;
    font-size: 14pt;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    background-color: inherit;
    /*box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   */

    padding: 10px;
    margin: 10px;
    
}

.gal-nav  select{
    border-radius: 40px;
    border-color: #2f357d;
    font-size: 12pt;
    background-color: #ee6352;
    border-width:3px;
    padding: 7px;
    color: white;
}
#gal-search{
  border-radius: 20px;
    border: 1px solid #2f357d;
    font-size: 12pt;
    background-color: #ee6352;
    border-width:3px;
    padding: 7px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    color: white;
    overflow: hidden;
}

#gal-search input{
  font-size: 12pt;
  width: 75%;
  height: 90%;
  background-color: inherit;
  border: none;
  color:white;
}
#gal-search input:focus{
outline: none;
}
.gal-nav .button-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: right;
  background-color: #2f357d;
  height: 100%;
  position: relative;

}
#gal-search .button-holder button{
  background-color: inherit;
  padding: 5px;
  border: none;
  color: #f6f4f3;
  padding-left: 10px;
  transition: background-color 0.25s;

  
}

#gal-search .button-holder button:hover{
 background-color: #f6f4f3;
 color: #2f357d;
}

/*
///////////////////////////////////////////////
Gallery images and controls
//////////////////////////////////////////////
*/
.img_box{

  background: rgb(245,146,134);
background: linear-gradient(0deg, rgba(245,146,134,0.7898688580482416) 0%, rgba(114,124,244,1) 100%);
  position: relative;
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


img {
    filter: none;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height:100%;
    width: auto;
    height: auto;
  }

  .pic-control-bar{
    display: flex;
    visibility: hidden;
    justify-content: space-evenly;
    background-color: #f6f4f3;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 10%;
    border-radius: 20px;
    color: #2f357d;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s linear;
  }
  .pic-control-bar span{
    padding: 5px;
  }
  
  .pic-control-bar span button{
    /*color: inherit;*/
    border: none;
    transition: background-color 0.5s;
    border-radius: 30px;
  }
  .like-color{
    color: #f7432d;
  }
  .pic-control-bar span button:hover{
    background-color: #ee6352;
  }
  
  

  .pic-edit-picker{
    display: flex;
    visibility: hidden;
    justify-content: space-evenly;
    background-color: #f6f4f3;
    position: absolute;
    width: 90%;
    height: 70px;
    left: 5%;
    top: 10%;
    border-radius: 20px;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s linear;

  }
  .pic-edit-picker span {
    padding: 6px;
  }

  .pic-edit-picker-show{
    visibility: visible;
    opacity: 1;
  }
  .pic-control-bar-show{
    visibility: visible;
    opacity: 1;
  }
  .pic-edit-picked{
    border: 2px solid #ee6352;
  
  }

  
/*
///////////////////////////////////////////////
Gallery full screen image
//////////////////////////////////////////////
*/

.gal-full-view{
  position: fixed;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;

  background: rgb(238,99,82);
background: linear-gradient(0deg, rgba(238,99,82,0.7898688580482416) 0%, rgba(47,53,125,1) 100%);
  z-index: 3;
  visibility: hidden;
}
.gal-full-view-show{
  visibility: visible;
}
.gal-full-view button{
  position: absolute;
  right: 1%;
  top: 1%;
  width: 5%;
  height: 5%;
  font-size: 20px;
  background-color: inherit;
  border: none;
  color: #ee6352;

}
.gal-full-view button:hover{
  color: #f6f4f3;
}
.gal-full-view img{
  max-width: 93%;
  max-height:93%;
  margin: auto;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

  /* Login Page */
  /*/////////////////////////////////////////////////////////////////////*/
#login-box{
  width: 460px;
  height: 620px;
  background: #2f2f2f;
  outline: solid #ee6352;
  outline-width: 20px;
  color: #ffff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 0px;
}

#login-box h1{
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 55pt;
}

#login-box h2{
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 15pt;
}

#login-box input[type="text"], input[type="Password"]
{
  width:450px;
  padding-left: 25px ;
  height: 40px;
  border: none;
  border-bottom: 5px solid #ee6352;
  background: transparent;
  color: #ffff;
}

.login-nav {
  height: 120px;
  width: 100%;
}

.logo-login{
  height: 80%;
  float: center;
  align-items: center;
  padding: 6px;
}


#login-box input[type="submit"]
{
  font-family: 'Permanent Marker', cursive;
  font-size: 15pt;
  width: 460px;
  height: 100px;
  border: none;
  background: #ee6352;
  left: auto;
  margin-left:-30;
}
/*/////////////////////////////////////////////////////////////////////////*/


  /* User profile Page */
  /*/////////////////////////////////////////////////////////////////////*/
  .fold-con{
    
    width: 88%;
    margin: 0 auto;
  }
  .user-stats{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 50px 
  }
  
  .user-stats p{
    font-family: 'Permanent Marker', cursive;
    font-size: 16pt;
    color: #2f357d;
  }

  .user-stats p b{
    color: #ee6352;
  }

  .user-heading{
    position: relative;
    width: 90%;
    margin: 0 auto;
    background-color: #292F36;
    margin-top: 20px;
    vertical-align: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .user-heading h1{
    
    font-family: 'Permanent Marker', cursive;
    font-size: 22pt;
    color: #ee6352;
    padding-bottom: 20px;
    padding-top: 20px;

    
  }
  .user-welcome{
    background-color: inherit;
  }
  .user-welcome h1{
    color: #2f357d;
  }
  
  .user-heading button{
    position: absolute;
    left: 1%;
    top: 5%;
    width: 5%;
    height: 90%;
    font-size: 20px;
    background-color: inherit;
    border: none;
    color: #ee6352;
  }
  
  .fold-con .gallery_container{

    min-height: inherit;

  }

  .fold-empty{
    font-family: 'Permanent Marker', cursive;
    font-size: 16pt;
    color: #ee6352;
  }
  
/*/////////////////////////////////////////////////////////////////////////*/


  /* Post image form */
  /*/////////////////////////////////////////////////////////////////////*/

  .form-box{
    width: 460px;
    height: 620px;
    font-size: 14pt;
    background: #2f2f2f;
    outline: solid #ee6352;
    outline-width: 20px;
    color: #ffff;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 30px 0px;
  }
  .form-box form h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    text-align: center;
  }
@media only screen and (max-width: 530px) {
  .form-box{
    width: 360px;
}
.form-box form h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 18pt;
  text-align: center;
}
}
@media only screen and (max-width: 400px) {
  .form-box{
    width: 300px;
}
.form-box form h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 15pt;
  text-align: center;
}
}

  .form-box div{
    padding: 10px;
    border-bottom: 1px solid #ee6352;
    
    border-top: 1px solid #ee6352;
  }
  .form-box input
  {
    font-size: 12pt;
    width:97%;
    padding-left: 5px ;
    height: 40px;
    border: none;
    background: transparent;
    color: #f6f4f3;
  }
  
  .image-preview{
    position: relative;
    height: 160px; 
  }

.form-box form button, .form-box button, #upload-con {
  background-color: #ee6352;
  border: none;
  width: 100%;
  height: 80px;
  transition: background-color 0.2s linear;
}


.form-box form button, .form-box button{
  font-size: 16pt;
  font-family: 'Permanent Marker', cursive;
  color: #f6f4f3;
}

.form-box form button:hover, .form-box button:hover{
  background-color:#f6f4f3;
  color: #ee6352;
  transition: background-color 0.2s linear;
}

.error-red{
  color: red;
  font-weight: bold;
}


 /* Detail Page */
  /*/////////////////////////////////////////////////////////////////////*/
  .detail-box{
    width: 460px;
    height: 620px;
    background: #2f2f2f;
    outline: solid #ee6352;
    outline-width: 20px;
    color: #ffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 10px 0px;
  }
  
  .detail-box h1{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding-left: 12px;
    text-align: left;
    font-size: 20pt;

  }
  
  .detail-box h2{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    text-align: left;
    padding-left: 12px;
    font-size: 13px;
  }
  
  .detail-box h3{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    text-align: left;
    padding-left: 12px;
    font-size: 18px;
  }

  .detail-box h4{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    text-align: left;
    padding-left: 12px;
    font-size: 12px;
  }
  

  .detail-box input[type="submit"]
  {
    font-family: 'Permanent Marker', cursive;
    font-size: 15pt;
    width: 460px;
    height: 100px;
    border: none;
    background: #ee6352;
    left: auto;
    margin-left:-30;
  }


  .column{
    float: left;
    padding: 10px;
    height: 400px; 
  }
  
  .left {
    width: 50%;
  }
  
  .right {
    width: 30%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*/////////////////////////////////////////////////////////////////////////*/
  /*About page*/

  .about-body{
    margin: 5%;
    font-family: 'Lato', sans-serif;
  }
  .about-body h1{
    font-family: 'Permanent Marker', cursive;
    color: #2f357d;
    text-align: center;
    font-size: 30pt;
    margin-bottom: 35px;

  }
  .about-body section{
    margin-bottom: 30px;
  }

  .about-body section h2{
    font-family: 'Permanent Marker', cursive;
    color: #ee6352;
    margin-bottom: 5px;
  }
  .about-body section h3{
    font-family: 'Permanent Marker', cursive;
    color: #ee6352;
    font-size: 18pt;
    text-align: center;
  }
.team-pic{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.team-box{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.team-mem-name{
  text-align: center;
  color: #2f357d;
  font-size: 125%;
  margin-bottom: 0px;
}
.team-sco-links{
  text-align: center;
  font-size: 30px;
}
.team-sco-links span{
  margin: 15px;
}
.roles{
  text-align: center;
  font-size: 90%;
  margin-top: 4px;
}
.member-box{
  border-radius: 50px;
  margin: 10px;
  padding: 15px;
  
}
  /*/////////////////////////////////////////////////////////////////////////*/

  .user-settings .sidebar{
    position: fixed;
    width: 450px;
    height: 100%;
    background: #ee6352;
  }

  .user-settings .sidebar h2{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #13163d;
    text-align: center;
  }

  .user-settings .sidebar ul li{
    padding: 35px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
  }

  .user-settings .sidebar ul li a{
    color: #ffff;
    display: block;
    text-decoration: none;
  }

  .user-settings .sidebar ul li:hover{
    background: #f7432d;
    border-radius: 25px;
  }

  .user-settings .settings{
    width: 79%;
    margin-left: 450px;
  }

  .user-settings .settings .header{
    padding: 30px;
    background: #ffff;
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #13163d;
    
  }

  .user-settings .settings .info{
    padding: 30px;
    line-height: 20px; 
    align-items: center;
  }

  .user-settings .settings .info input[type="text"]{
    width:1300px;
    color: #ffff;
    padding-left: 25px ;
    height: 40px;
    border: 5px solid #ee6352;
    background: #292f36;
  }

  .user-settings .settings .info input[type="password"]{
    width:1300px;
    color: #ffff;
    padding-left: 25px ;
    height: 40px;
    border: 5px solid #ee6352;
    background: #292f36;
  }

  .user-settings .settings .info button[type="submit"]{
    font-family: 'Permanent Marker', cursive;
    font-size: 15pt;
    width: 300px;
    height: 50px;
    border: none;
    background: #ee6352;
    left: auto;
    margin-left:-30;
}

  /*////////////////////////////////////////////////////////////////////////*/